$bg-color: #000;
$primary-color: #F7CD14;
$secondary-color: #fff;
$break-color: #C3BABF;
$link-color: #0D457D;
$cta-color: #0D457D;
$hover-color: #ffbb1d;

$header-font: "Fredoka", sans-serif;
$p-font: "Imprima", sans-serif;


@mixin a($bg-color: $primary-color, $a-padding: 8rem 8rem){
    background-color: #F7CD14;
    border-radius: 10px;
    border-style: none;
    color: #000;
    cursor: pointer;

    display: flex;
    justify-content: center;
    
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 2rem;
    text-decoration: none;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover{
        background-color: #000;
        color: #fff;
        transition-delay: 4ms;
    }
}